
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 95%);
}

#container {
    min-width: 920px;
    width: 920px;
    position: relative;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cards {
    height: 500px;
    display: flex;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

.card {
    flex: 33.33%;
    padding: 50px 50px 48px 50px;
}

svg {
    margin-bottom: 40px;
}

.cardheader {
    font-family: "Big Shoulders Display", cursive;
    font-size: 40px;
    line-height: 40px;
    color: hsl(0, 0%, 95%);
    margin-bottom: 30px;
}

#sedancard {
    background-color:hsl(31, 77%, 52%)
}

#suvcard {
    background-color:hsl(184, 100%, 22%)
}

#luxurycard {
    background-color:hsl(179, 100%, 13%)
}

.cardcontent {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 85px;
}

.button {
    display: inline;
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    line-height: 15px;
    padding: 12px 30px;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 100px;
}

#sedanbutton {
    color:hsl(31, 77%, 52%);
}

#suvbutton {
    color:hsl(184, 100%, 22%);
}

#luxurybutton {
    color:hsl(179, 100%, 13%);
}

#sedanbutton:hover {
    background-color:hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 95%);
}

#suvbutton:hover {
    background-color:hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 95%);
}

#luxurybutton:hover {
    background-color:hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 95%);
}

.attribution {
    min-width: 920px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 12px;
    color: black;
    text-align: center;
}

.attribution a {
    color: rgb(16, 0, 156);
}

@media (max-width: 920px) {

    #container {
        width: 920px;
        min-width: 920px;
        position: relative;
        left: 0%;
        top: 45vh;
        transform: translateY(-50%);
        margin: auto;
    }
    
}

@media (max-width: 600px) {

    #container {
        width: 87.2%;
        min-width: 87.2%;
        margin: 7vh 6.4%;
        position: static;
        transform: translate(0, 0);
    }

    #cards {
        height: auto;
        margin: auto;
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 442px;
        padding: 48px 50px 63px;
    }

    svg {
        margin-bottom: 36px;
    }

    .cardheader {
        font-family: "Big Shoulders Display", cursive;
        font-size: 40px;
        line-height: 40px;
        color: hsl(0, 0%, 95%);
        margin-bottom: 28px;
    }
    
    .cardcontent {
        color: hsla(0, 0%, 100%, 0.75);
        font-family: "Lexend Deca", sans-serif;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
    }

    .attribution {
        position: static;
        margin-bottom: 3vh;
        min-width: 0;
    }
}
